*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
 }

 /* GENERAL STYLES */

.photo_stretch {
    width: 100%;
    height: 75%;
    display: block;
    margin: auto;
    margin-bottom: 3%;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #4facfe;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(79, 172, 254, 1), #08d);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(79, 172, 254, 1), #08d)
  }

  /* HEADER */

.website_name_label {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 75px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(119, 119, 119, 0.884);
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

/* NAVIGATION MENU */

.navMenu {
    align-content: right;
    padding-left:20px !important;
    padding-right:20px !important;
    padding-top:15px !important;
    padding-bottom:10px !important;
    text-align: center;
    width: 100%;
}

.navMenu a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #CAD2C5;
}

.navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}.navMenu a:nth-child(6):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.frontpage_gray_banner {
    background: #CAD2C5;    
    color: #354F52;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2%;
}

.frontpage_gray_banner_label {
    padding-bottom: 50px;
    text-align: center;
    font-size: 52px;
    display: inline-block;
    vertical-align: center;
}

.profile {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 37px;
    height: 37px;
    cursor: pointer;
}


.footer-down {
    margin-top: 540px;
}

.footer {
    align-content: right;
    padding-left:20px !important;
    padding-right:20px !important;
    padding-top:15px !important;
    padding-bottom:10px !important;
    text-align: center;
    background: #ebf0e9;
}


.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link_title {
    color: #354F52;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.link_subtitle {
    font-weight: bold;
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logout-btn{
    border-radius: 20px;
    border: 3px solid #84A98C ;
    color:white;
    background-color: #84A98C;
    font-weight: bold;
    padding: 10px 0px 10px 0px !important;
    position: absolute;
    top: 2%;
    right: 1%;
    width: 120px;
    height: 44px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}