
 <mat-toolbar class="toolbar">
    <span>Registration</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div class="example-form">
    <mat-form-field class="input-box" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>  
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>  
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>  
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Telephone number</mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>  
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Registration type</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Reason</mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="input-box" appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field><br /><br />
    <div class="rightbtn">
        <button class="btn">Register</button>
    </div>
</div>
