<mat-toolbar class="toolbar">
  <span>Registration</span>
  <span class="example-spacer"></span>
  <button routerLink="/" mat-icon-button class="icon">
      <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="row d-flex align-items-center w-100">
    <div class="col-md-2"></div>
    <div class="col-md-8 website_name_label">BOOKING AGENCY</div>
    <div class="col-md-2"></div>
</div>

<div class="example-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="input-box" appearance="outline">
    <mat-label>Registration type</mat-label>
   <mat-select formControlName="type">
    <mat-option style="font-weight: bold;" value="Client">Client</mat-option>
    <mat-option style="font-weight: bold;" value="House owner">House owner</mat-option>
    <mat-option style="font-weight: bold;" value="Boat owner">Boat owner</mat-option>
   </mat-select>  
  </mat-form-field>
    <mat-form-field class="input-box" appearance="outline" >
      <mat-label>Email</mat-label>
      <input matInput placeholder="" value="" formControlName="email">
    </mat-form-field>
    <div class="double-input">
    <mat-form-field class="input-box-small" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="" value="" formControlName="name">
    </mat-form-field>
    <mat-form-field class="input-box-small" appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="" value="" formControlName="surname">
    </mat-form-field>
    </div>  
    <mat-form-field class="input-box" appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput placeholder="" value="" formControlName="address">
    </mat-form-field>  
    <div class="double-input">
      <mat-form-field class="input-box-small" appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput placeholder="" value="" formControlName="country">
      </mat-form-field>
      <mat-form-field class="input-box-small" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="" value="" formControlName="city">
      </mat-form-field>
      </div>  
    <mat-form-field class="input-box" appearance="outline">
        <mat-label>Telephone number</mat-label>
        <input  matInput placeholder="" value="" formControlName="phoneNumber">
    </mat-form-field>  
    <mat-form-field class="text-area" appearance="outline">
      <mat-label>Reason</mat-label>
      <textarea matInput formControlName="description" [attr.disabled]="form.value.type == 'Client'"></textarea>
    </mat-form-field>
    <mat-form-field class="input-box" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="input-box" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordRepeat">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field><br /><br />
    <button class="btn">Register</button>
  </form> 
</div>


<div class="footer-down">
<div class="row d-flex align-items-center footer">
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">About us</h2>
      <h4 class="link_subtitle">Request demo</h4>
      <h4 class="link_subtitle">FAQs</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Support</h2>
      <h4 class="link_subtitle">Services</h4>
      <h4 class="link_subtitle">Contact us</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Covid-19 FAQs</h2>
      <h4 class="link_subtitle">Reviews</h4>
      <h4 class="link_subtitle">Safety</h4>
    </div>
  </div>
</div>