<div class="row d-flex align-items-center w-100">
    <div class="col-md-2"></div>
    <div class="col-md-8 website_name_label">BOOKING AGENCY</div>
    <div class="col-md-2"></div>
    <button class="logout-btn" routerLink="/">Log out</button>
  </div>

  <div class="row d-flex align-items-center w-100">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <nav class="navMenu">
        <a href="home-house-owner" style="float:none">Houses</a>
        <a href="" style="float:none">Calendar</a>
        <a href="history-house-owner" style="float:none">Reservation history</a>
        <a href="settings-house-owner" style="float:none">User settings</a>
      </nav>
    </div>
    <div class="col-md-4"></div>
  </div> 

  <div class="row d-flex align-items-center frontpage_gray_banner">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center frontpage_gray_banner_label">Welcome,</div>
      <div class="row d-flex align-items-center frontpage_gray_banner_label">...</div> 
    </div>
    <div class="col-md-2"></div>
  </div>

<div class="big-panel">
  <div class="toolbar">
    <h1 style="margin-left: 22%;">All reservations from history</h1>
    <button class="btn-review">Write review</button>
  </div>
  <div class="panel-middle">
      <table class="rooms-table">
        <thead>
          <tr>
            <th>House</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Client</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BLA</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

  <div class="row d-flex align-items-center footer">
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">About us</h2>
      <h4 class="link_subtitle">Request demo</h4>
      <h4 class="link_subtitle">FAQs</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Support</h2>
      <h4 class="link_subtitle">Services</h4>
      <h4 class="link_subtitle">Contact us</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Covid-19 FAQs</h2>
      <h4 class="link_subtitle">Reviews</h4>
      <h4 class="link_subtitle">Safety</h4>
    </div>
  </div>