<button (click)="switchPage()">REGISTRATION</button>


<div class="row d-flex align-items-center w-100">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 website_name_label">
     BOOKING AGENCY
    </div>
    <div class="col-md-2">
    </div>
  </div>
  
  <div class="row d-flex align-items-center w-100">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <nav class="navMenu">
        <a href="#/" style="float:none">Home</a>
        <a href="#/" style="float:none">Cottages</a>
        <a href="#/" style="float:none">Boats</a>
        <a href="#/" style="float:none">Instructors</a>
        <a href="#/" style="float:none">Login</a>
      </nav>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  
  <div class="row d-flex align-items-center">
    <img src="assets/homepage1.png" class="photo_stretch" >
  </div>
  
  <div class="row d-flex align-items-center frontpage_gray_banner">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center frontpage_gray_banner_label">BOOKING AGENCY:</div>
      <div class="row d-flex align-items-center frontpage_gray_banner_label">TRUSTED PROFESSIONALS</div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  
  <div class="row d-flex align-items-center" style="margin-top: 40px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="row d-flex align-items-center frontpage_options_card h-100">
        <div class="col-md-6">
          <img src="assets/Frontpage_Left_Card.png" class="left_frontpage_picture">
        </div>
        <div class="col-md-6 h-100">
          <div class="row d-flex align-items-center frontpage_top front_page_right_card">
            <div class="col-md-6 deep_dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/doctor.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">CHOOSE YOUR DOCTOR</div>
            </div>
            <div class="col-md-6 dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/stethoscope.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">BOOK AN APPOINTMENT</div>
            </div>
          </div>
          <div class="row d-flex align-items-center frontpage_top front_page_right_card">
            <div class="col-md-6 dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/hospital.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">OUR FACILITIES</div>
            </div>
            <div class="col-md-6 light_blue_card h-100 " style="text-align: center; padding-top: 20px;">
              <img src="assets/Contact_Us.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">CONTACT US</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
  <div class="row d-flex align-items-center" style="margin-top: 20px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 class="text-black" style="font-weight: bolder; font-size: 28px; text-align: center;">ABOUT US</h1>
      <p style="font-weight: bold; font-size: 16px; text-align: center;">It all started with a small office with only three employees, which was founded in 1995. From then until today, for a full 26 years, World Vision Clinic has continuously improved and expanded the range of its services, through cooperation with eminent doctors, constant modernization of medical equipment and investment in the education of its employees. Thanks to that, it is recognized as a regionally relevant medical center. Today, the expert team of World Vision Clinic consists of about 800 doctors, top experts, among whom are some of the biggest names in Serbian medicine.
  
       <br><br> At six locations, connected by a single call center and an integrated computer network, World Vision Clinic provides reliable and quality medical services - examinations, state-of-the-art diagnostics, surgical treatment, hospital treatment in luxury apartments, dental services, systematic examinations, laboratory services, home visits and transportation of patients from 0 to 24 hours, as well as many other medical services. It has five state-of-the-art operating rooms, the most modern angiosal in Serbia, an intensive care unit, as well as luxury hospital apartments.
        
       <br><br> In 2016, the first bariatric operation of a child in the region was performed in World Vision Clinic, and for the first time in Serbia, the bladder was removed and the bowel was reconstructed. As a consequence of all these advances, there have been numerous awards and recognitions, among which we emphasize the prestigious European Business Awards for the relationship with the client. Because the main idea of ​​the leader of World Vision Clinic for all 26 years of existence is the PATIENT IN THE CENTER OF ATTENTION. This is confirmed by the fact that more than 500,000 satisfied patients have placed their trust in this institution.</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
  <div class="row d-flex align-items-center frontpage_news_background">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center">
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/News_Item_1.png" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">COVID-19 vaccines:<br> everything you need to know</h2>
                <p>Now that COVID-19 vaccines have reached billions of people worldwide, the evidence is overwhelming that no matter which one you take, the vaccines offer life-saving protection against a disease that has killed millions. The pandemic is far from over, and they are our best bet of staying safe.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/News_Item_2.jpg" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">The new hospitals building the future of health infrastructure</h2>
                <p>In autumn 2020, the Government made a commitment to build 40 hospitals in Serbia by 2030, with a budget of £3.7 billion. In July this year, the Government announced the selection process for a further eight new hospitals. The new sites are intended to transform NHS services, for patients, staff and the wider community.
                  <br> <br> This quantity of builds taking place over a 10-year period, work must be carried out in a different way than previous new hospitals.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/News_Item_3.png" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">
                  An operation with new robotic technology was successfully performed in Vienna</h2>
                <p> One of the first operations in the world with new robotic technology was performed at the University Clinic for Otorhinolaryngology in Vienna.
                  <br><br>
                  As they officially announced from the City of Vienna, during the implantation, the device enabled precise access to the inner ear completely automatically and minimally invasively.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  
  <div class="row d-flex align-items-center frontpage_feedback_section">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 style="text-align: center; font-weight: bolder; color: white">WHAT OTHERS SAY ABOUT US:</h1>
      <div class="row">
        <div class="col-md-1 h-100">
          <img src="assets/Quotation_Mark.png" style="width: 100%; height: 100%">
        </div>
        <div class="col-md-11">
          <p style="font-weight: bold; color: white; font-style: italic; margin-top: 5px;"></p>
        </div>
        <h2 style="text-align: right; font-weight: bolder; color: white"> </h2>
        <h2 style="margin-left: 80%; text-align: right; font-weight: bolder; color: white"></h2>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
  <div class="row d-flex align-items-center sign-up-panel">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="row d-flex align-items-center h-100" style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="col-md-6 h-100">
          <div class="sign-up-left-col">
            <h1>Sign up to join<br> our community</h1>
            <form>           
              <div class="btn-box">
                <button class="btn btn-blue btn-rounded">Sign up</button> 
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/Sign_Up.png" style="width: 100%; height: 400px;">
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
  <hr>
  
  <div class="row d-flex align-items-center footer">
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">About us</h2>
      <h4 class="link_subtitle">Request demo</h4>
      <h4 class="link_subtitle">FAQs</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Support</h2>
      <h4 class="link_subtitle">Services</h4>
      <h4 class="link_subtitle">Contact us</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
  </div>