<div class="row d-flex align-items-center w-100">
    <div class="col-md-2">
      <button class="login-btn" routerLink="login" color="primary">Login</button>
    </div>
    <div class="col-md-8 website_name_label">
     BOOKING AGENCY
    </div>
    <div class="col-md-2">
    </div>
  </div>
  
  <div class="row d-flex align-items-center w-100">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <nav class="navMenu">
        <a href="#/" style="float:none">Home</a>
        <a href="#/" style="float:none">Cottages</a>
        <a href="#/" style="float:none">Boats</a>
        <a href="#/" style="float:none">Instructors</a>
        <a href="registration" style="float:none">Sign up</a>
      </nav>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  
  <div class="row d-flex align-items-center">
    <img src="assets/homepage1.png" class="photo_stretch" >
  </div>
  
  <div class="row d-flex align-items-center frontpage_gray_banner">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center frontpage_gray_banner_label">BOOKING AGENCY:</div>
      <div class="row d-flex align-items-center frontpage_gray_banner_label">TRUSTED PROFESSIONALS</div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

   
  <div class="row d-flex align-items-center" style="margin-top: 40px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="row d-flex align-items-center frontpage_options_card h-100">
        <div class="col-md-6">
          <img src="assets/home.png" class="left_frontpage_picture">
        </div>
        <div class="col-md-6 h-100">
          <div class="row d-flex align-items-center frontpage_top front_page_right_card">
            <div class="col-md-6 deep_dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/fisherman.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">CHOOSE YOUR INSTRUCTOR</div>
            </div>
            <div class="col-md-6 dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/house.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">BOOK A COTTAGE</div>
            </div>
          </div>
          <div class="row d-flex align-items-center frontpage_top front_page_right_card">
            <div class="col-md-6 dark_blue_card h-100" style="text-align: center; padding-top: 20px;">
              <img src="assets/boat.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">BOOK A BOAT</div>
            </div>
            <div class="col-md-6 light_blue_card h-100 " style="text-align: center; padding-top: 20px;">
              <img src="assets/Contact_Us.png" class="frontpage_card_picture_small">
              <div class="text-white" style="margin-top: 5px; font-weight: bold;">CONTACT US</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
 
  
  <div class="row d-flex align-items-center" style="margin-top: 20px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 class="text-black" style="font-weight: bolder; font-size: 32px; text-align: center;">Holidays matter</h1>
      <p style="font-weight: bold; font-size: 20px; text-align: center;">They are our lifeline to sanity, a chance to step away from everyday life and reconnect with the people we love; a time to relax, to be the real us, or indeed to be whoever we want to be. Once the sand has been washed from toes, the suitcase of memories safely stowed away, you'll soon discover the magic of a Unique Homestays experience lasts long after the holiday ends.</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
  <div class="row d-flex align-items-center frontpage_news_background">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center">
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/cottage.png" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">The cosy club </h2>
                <p>This month we bring you some of our cosiest homes and cottages for autumn, where curling up by roaring fires after a gentle ramble to the nearest pub for lunch is a large enough expedition.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/boat.Newspng.jpg" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">Get started boating</h2>
                <p>Whether you want access to the best fishing spots or like the idea of spending leisurely days on the water while boating, the best way to get started is by learning about the different types of boats, so you can identify which types of boats are a good fit for you and your family.     </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card news_card">
            <div class="header">
              <img src="assets/fishing.png" class="frontpage_news_item_picture">
            </div>
          
            <div class="card-body mx-4">
            
              <div class="md-form" style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
                <h2 class="text-black" style="font-weight: bolder; font-size: 26px;">How to fish?</h2>
                <p>It’s easy to learn how to fish. This section covers everything from fishing for beginners and other fishing basics to in-depth details about gear and how to fish different environments. This is a beginner’s guide to fishing with info and fishing tips on each step-in learning how to fish.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  
  <div class="row d-flex align-items-center frontpage_feedback_section">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 style="text-align: center; font-weight: bolder; color: white">WHAT OTHERS SAY ABOUT US:</h1>
      <div class="row">
        <div class="col-md-1 h-100">
          <img src="assets/Quotation_Mark.png" style="width: 100%; height: 100%">
        </div>
        <div class="col-md-11">
          <p style="font-weight: bold; color: white; font-style: italic; margin-top: 5px;">I have been your client for many years and this is obviously not a coincidence. Keep it up and thanks for the helpful tips you post.
            It would be my great pleasure to recommend you to anyone who needs holiday or some new free time activities</p>
        </div>
        <h2 style="text-align: right; font-weight: bolder; color: white"> </h2>
        <h2 style="margin-left: 80%; text-align: right; font-weight: bolder; color: white"></h2>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
 
  
  <hr>
  
  <div class="row d-flex align-items-center footer">
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">About us</h2>
      <h4 class="link_subtitle">Request demo</h4>
      <h4 class="link_subtitle">FAQs</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Support</h2>
      <h4 class="link_subtitle">Services</h4>
      <h4 class="link_subtitle">Contact us</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
  </div>