<div class="row d-flex align-items-center w-100">
    <div class="col-md-2"></div>
    <div class="col-md-8 website_name_label">BOOKING AGENCY</div>
    <div class="col-md-2"></div>
    <button class="logout-btn" (click) = "logout()" routerLink="/">Log out</button>
  </div>

  <div class="row d-flex align-items-center w-100">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <nav class="navMenu">
        <a href="adventure-profile" style="float:none">Adventure profile</a>
        <a href="" style="float:none">Calendar</a>
        <a href="history-instructor" style="float:none">Reservations</a>
        <a href="settings-instructor-profile" style="float:none">User settings</a>
      </nav>
    </div>
    <div class="col-md-4"></div>
  </div> 

  <div class="row d-flex align-items-center frontpage_gray_banner">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center frontpage_gray_banner_label">Welcome,</div>
      <div class="row d-flex align-items-center frontpage_gray_banner_label">{{user.name}} {{user.surname}}</div> 
    </div>
    <div class="col-md-2"></div>
  </div>
   
    <h1 class="heading" style="margin-top: 25px; margin-left:44%;">Write a review</h1>
    
    <div style="margin-bottom: 10%;">
      <mat-card style="width: 750px;  margin-left: 29%; margin-right: 26%;">
        <mat-card-title  style="font-size: 26px; margin-top: 4%; font-weight: bold;">{{reservation.adventureProfile.name}}</mat-card-title>
        <mat-card-subtitle style="font-weight: bold; font-size: 16px; margin-top: 2%; text-transform: uppercase;">{{reservation.startDate | date:'dd/MM/yyyy'}} - {{reservation.endDate | date:'dd/MM/yyyy'}}</mat-card-subtitle>
        <hr>
        <br>
        <mat-card-title style="font-weight: bold; text-transform: uppercase; font-size: 16px; margin-top: 2%;">Booking summary</mat-card-title>
        <hr>
        <br>
        <mat-card-content>
          <div>
            <p style="text-transform: uppercase; font-weight: bold;">Property name</p>
            <p style="font-weight: bolder;">{{reservation.adventureProfile.name}}</p>
          </div>
          <br>
          <div>
            <p style="text-transform: uppercase; font-weight: bold;">Date of arrival</p>
            <p style="font-weight: bolder;">{{reservation.startDate | date:'dd/MM/yyyy'}}</p>
          </div>
          <br>
          <div>
            <p style="text-transform: uppercase; font-weight: bold;">Date of departure</p>
            <p style="font-weight: bolder;">{{reservation.endDate | date:'dd/MM/yyyy'}}</p>
          </div>
          <br>
          <div>
            <p style="text-transform: uppercase; font-weight: bold;">Total cost of accomodation</p>
            <p style="font-weight: bolder;">{{reservation.adventureProfile.pricelist}} e</p>
          </div>
          <br>
          <br> 
          <mat-card-title style="font-weight: bold; text-transform: uppercase; font-size: 16px; margin-top: 2%;">Your review</mat-card-title>
        <hr> 
        <form [formGroup]="form">
        <div>
            <mat-form-field class="text-area" appearance="outline">
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="content"></textarea>
            </mat-form-field>
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="isBadComment">Bad comment</mat-checkbox>
            </section> 
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="isAppear">Client not appear</mat-checkbox>
              </section>  
        </div>    
       <div>
         <div style="display: flex; flex-direction: row;">
          <button (click)="onSubmit()" class="book-btn">Submit</button>
         </div>
      </div>
    </form>
        </mat-card-content>       
      </mat-card>
    </div>
 
  
  
    <div class="row d-flex align-items-center footer">
      <div class="col-md-3">
        <h2 class="link_title">Product</h2>
        <h4 class="link_subtitle">Our plan</h4>
        <h4 class="link_subtitle">Free trial</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">About us</h2>
        <h4 class="link_subtitle">Request demo</h4>
        <h4 class="link_subtitle">FAQs</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">Support</h2>
        <h4 class="link_subtitle">Services</h4>
        <h4 class="link_subtitle">Contact us</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">Covid-19 FAQs</h2>
        <h4 class="link_subtitle">Reviews</h4>
        <h4 class="link_subtitle">Safety</h4>
      </div>
    </div>
