<div class="row d-flex align-items-center w-100">
    <div class="col-md-2"></div>
    <div class="col-md-8 website_name_label">BOOKING AGENCY</div>
    <div class="col-md-2"></div>
    <button class="logout-btn" >Log out</button>
  </div>

  <div class="row d-flex align-items-center w-100">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <nav class="navMenu">
        <a href="registration-requests" style="float:none">Registration requests</a>
        <a href="register-admin" style="float:none">Register new admins</a>
        <a href="entities-list" style="float:none">Users/Boats/Cottages</a>
        <a href="complaints-from-clients" style="float:none">Complaints from clients</a>
        <a href="evaluations-from-clients" style="float:none">Evaluations from clients</a>
        <a href="reviews" style="float:none">Reviews</a>
      </nav>
    </div>
    <div class="col-md-4"></div>
  </div> 

  <div class="row d-flex align-items-center frontpage_gray_banner">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="row d-flex align-items-center frontpage_gray_banner_label">Welcome,</div>
      <div class="row d-flex align-items-center frontpage_gray_banner_label">{{user.name}} {{user.surname}}</div> 
    </div>
    <div class="col-md-2"></div>
  </div>

  <mat-toolbar class="navMenu" style="cursor: pointer; margin-top: 2%; align-items: left;">      
    <div class="row d-flex align-items-center w-100">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <nav class="navMenu" style="font-size: 15px;">            
          <a style="float:none" >Client complaints</a>
        </nav>
      </div>
      <div class="col-md-4">
      </div>
    </div>  
    </mat-toolbar>

   
    <mat-toolbar class="navMenu" style="cursor: pointer; margin-top: 2%; align-items: left;">      
        <div class="row d-flex align-items-center w-100">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <nav class="navMenu" style="font-size: 15px;">            
              <a style="float:none" (click) = "adventureBox = false; homeBox = false; boatBox = true; boatComplaint()">Boat complaints</a>
              <a style="float:none" (click) = "adventureBox = true; homeBox = false; boatBox = false; adventureComplaint()">Adventure complaints</a>
              <a style="float:none" (click) = "adventureBox = false; homeBox = true; boatBox = false; homeComplaint()">Home complaints</a>
            </nav>
          </div>
          <div class="col-md-4">
          </div>
        </div>  
        </mat-toolbar>
    
        <div *ngIf = "adventureBox">
          <h2 style="margin-left: 44%; margin-top: 25px;">Adventure complaints</h2>
        </div>
          <div class="panel-middle" *ngIf = "adventureBox">
            <table class="rooms-table">
              <thead>
                <tr>
                  <th>Adventure name</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Client</th>
                  <th>Instructor</th>
                  <th>Complaint</th>
                  <th style="width: 20px; height: 50px;"></th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let ac of adventureComplaints ">
                  <td style="width: 1600px;">{{ac.adventureReservation.adventureProfile.name}}</td>
                  <td style="width: 1000px;">{{ac.adventureReservation.startDate | date:'dd/MM/yyyy'}}</td>
                  <td style="width: 1000px;">{{ac.adventureReservation.endDate | date:'dd/MM/yyyy'}}</td>
                  <td style="width: 1000px;">{{ac.clientId}}</td>
                  <td style="width: 1000px;">{{ac.adventureReservation.adventureProfile.instructorId}}</td>
                  <td style="width: 1000x;">{{ac.content}}</td>
                  <td> <form [formGroup]="form" > <label>Complaint response: </label><input type="text" id="complaintResponse" value="" formControlName="complaintResponse" /> <button class="btn" (click)="onSendResponse(ac.id)">Send response</button> </form></td>
                  
                </tr>
              </tbody>
            </table>
        </div>
    
      <div *ngIf = "homeBox">
        <h2 style="margin-left: 44%; margin-top: 25px;">Home complaints</h2>
      </div>
        <div class="panel-middle" *ngIf = "homeBox">
          <table class="rooms-table">
            <thead>
              <tr>
                <th>Property name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Client</th>
                <th>Owner</th>
                <th>Complaint</th>
                <th style="width: 20px; height: 50px;"></th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let hc of homeComplaints ">
                <td style="width: 220px;">{{hc.homeReservation.homeProfile.name}}</td>
                <td style="width: 230px;">{{hc.homeReservation.startDate | date:'dd/MM/yyyy'}}</td>
                <td style="width: 50px;">{{hc.homeReservation.endDate | date:'dd/MM/yyyy'}}</td>
                <td style="width: 350px;">{{hc.clientId}}</td>
                <td style="width: 350px;">{{hc.homeReservation.homeProfile.ownerId}}</td>
                <td style="width: 350px;">{{hc.content}}</td>
                <td> <form [formGroup]="form" > <label>Complaint response: </label><input type="text" id="complaintResponse" value="" formControlName="complaintResponse" /> <button class="btn" (click)="onSendHomeResponse(hc.id)">Send response</button> </form></td>
                
              </tr>
            </tbody>
          </table>
      </div>
    
      <div *ngIf = "boatBox">
        <h2 style="margin-left: 44%; margin-top: 25px;">Boat complaints</h2>
      </div>
      <div class="panel-middle" *ngIf = "boatBox">
        <table class="rooms-table">
          <thead>
            <tr>
                <th>Boat name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Client</th>
                <th>Owner</th>
                <th>Complaint</th>
                <th style="width: 20px; height: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let bc of boatComplaints ">
              <td style="width: 220px;">{{bc.boatReservation.boatProfile.name}}</td>
              <td style="width: 230px;">{{bc.boatReservation.startDate | date:'dd/MM/yyyy'}}</td>
              <td style="width: 50px;">{{bc.boatReservation.endDate | date:'dd/MM/yyyy'}}</td>
              <td style="width: 350px;">{{bc.clientId}}</td>
              <td style="width: 350px;">{{bc.boatReservation.boatProfile.ownerId}}</td>
              <td style="width: 350px;">{{bc.content}}</td>
              <td> <form [formGroup]="form" > <label>Complaint response: </label><input type="text" id="complaintResponse" value="" formControlName="complaintResponse" /> <button class="btn" (click)="onSendBoatResponse(bc.id)">Send response</button> </form></td>
            
            </tr>
          </tbody>
        </table>
    </div>

  

  

  <div class="row d-flex align-items-center footer">
    <div class="col-md-3">
      <h2 class="link_title">Product</h2>
      <h4 class="link_subtitle">Our plan</h4>
      <h4 class="link_subtitle">Free trial</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">About us</h2>
      <h4 class="link_subtitle">Request demo</h4>
      <h4 class="link_subtitle">FAQs</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Support</h2>
      <h4 class="link_subtitle">Services</h4>
      <h4 class="link_subtitle">Contact us</h4>
    </div>
    <div class="col-md-3">
      <h2 class="link_title">Covid-19 FAQs</h2>
      <h4 class="link_subtitle">Reviews</h4>
      <h4 class="link_subtitle">Safety</h4>
    </div>
  </div>
