<div class="row d-flex align-items-center w-100">
  <div class="col-md-2"></div>
  <div class="col-md-8 website_name_label" [routerLink]="['/home-client']">BOOKING AGENCY</div>
  <div class="col-md-2"></div>
  <button class="logout-btn"  (click)="logout()">Log out</button>
</div>
  
<div class="row d-flex align-items-center w-100">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <nav class="navMenu">
      <a [routerLink]="['/cottages-client']" style="float:none">Cottages</a>
      <a [routerLink]="['/boats-client']" style="float:none">Boats</a>
      <a [routerLink]="['/instructors-client']" style="float:none">Instructors</a>
      <a [routerLink]="['/reservations-client']" style="float:none">Reservations</a>
      <a [routerLink]="['/settings-client']" style="float:none">Profile</a>
    </nav>
  </div>
  <div class="col-md-4">
  </div>
</div>  
   
  <div class="row d-flex align-items-center frontpage_gray_banner">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <div class="row d-flex align-items-center frontpage_gray_banner_label">Welcome,</div>
      <div class="row d-flex align-items-center frontpage_gray_banner_label">{{user.name}}  {{user.surname}} </div> 
    </div>
    <div class="col-md-4"></div>
  </div>

  <mat-toolbar class="navMenu" style="cursor: pointer; margin-top: 2%; align-items: left;">      
    <div class="row d-flex align-items-center w-100">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <nav class="navMenu" style="font-size: 15px;">            
          <a style="float:none">Sort by
           <mat-select style="max-width: 20px;" multiple>
            <mat-option  style="font-weight:bolder;" (click)="sortInstructorsByLocation()" > Location</mat-option>
            <mat-option  style="font-weight:bolder;" (click)="sortInstructorsByRate()">Best reviewd</mat-option>
            <mat-option  style="font-weight:bolder;" (click)="sortInstructorsByName()">Name</mat-option>
            <mat-option  style="font-weight:bolder;" (click)="sortInstructorsByPrice()">Price(lower first)</mat-option>
             </mat-select> 
          </a>
          <a [routerLink]="['/filter-free-instructors']" style="float:none">Dates and price</a>
          <a [routerLink]="['/instructor-actions-client']" style="float:none">Our top picks</a>
        </nav>
      </div>
      <div class="col-md-4">
      </div>
    </div>  
    </mat-toolbar>

    <div *ngFor="let i of instructors; let ind=index">
      <div style="display: flex; flex-direction: row; margin-top: 1%; margin-left: 25%; margin-bottom: 5%; margin-right: 25%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <mat-card style="width: 500px; border: none; font-weight: bold; color: #52796F;">
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <mat-card-title style="font-size: 28px; margin-top: 4%; font-weight: bold;">{{i.name}}</mat-card-title>
            <div style="display: flex; flex-direction: row;">
              <p style="margin-right: 5px;">
                <button class="map-btn" routerLink="/maps-client" [queryParams]="{id: i.id, latitude: i.latitude, longitude: i.longitude}"><mat-icon>place</mat-icon></button>
              </p>
              <p style="margin-right: 5px;" class="rate">{{i.avgRate}}</p>
            </div>
          </div>
       <mat-card-subtitle style="font-weight: bold; font-size: 16px; margin-top: 2%;">{{i.address}}</mat-card-subtitle>
      <br>
      <mat-card-content style="width: 400px; font-weight: bold; font-size: 16px;">
      <p>Price: {{i.pricelist}}e per day</p>
      <p>Max number of people: {{i.maxNumberOfPeople}}</p>
      <p>Fishing equipment: {{i.fishingEquipment}} </p>
      <p>Extra services: {{i.extraService}} </p>
      <p>Behaviour rules: {{i.behaviourRules}}</p>
      <p>Cancel conditions: {{i.cancelConditions}} </p>
      <p>Instructor biography: {{i.instructorBiography}} </p>
      <p>Description: {{i.promoDescription}} </p>
      <div>
        <section class="example-section">
          <mat-checkbox class="example-margin"  (click)="SubscribeMe(i.id)">I want to recieve notifications for this house</mat-checkbox>
        </section>
      </div>
      </mat-card-content>
        </mat-card>  
        <mat-card >
         <img class="d-block w-100" src="{{i.ambientImage}}"  style="max-width: 500px; height: 400px; object-fit:cover;">
        </mat-card>
      </div>
    </div>

<div class="row d-flex align-items-center footer">
  <div class="col-md-3">
    <h2 class="link_title">Product</h2>
    <h4 class="link_subtitle">Our plan</h4>
    <h4 class="link_subtitle">Free trial</h4>
  </div>
  <div class="col-md-3">
    <h2 class="link_title">About us</h2>
    <h4 class="link_subtitle">Request demo</h4>
    <h4 class="link_subtitle">FAQs</h4>
  </div>
  <div class="col-md-3">
    <h2 class="link_title">Support</h2>
    <h4 class="link_subtitle">Services</h4>
    <h4 class="link_subtitle">Contact us</h4>
  </div>
  <div class="col-md-3">
    <h2 class="link_title">Covid-19 FAQs</h2>
      <h4 class="link_subtitle">Reviews</h4>
      <h4 class="link_subtitle">Safety</h4>
  </div>
</div>


  

  


  
