<div class="row d-flex align-items-center w-100">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 website_name_label">
     BOOKING AGENCY
    </div>
    <div class="col-md-2">
    </div>
    <img src="assets/user.png" class="profile" [routerLink]="['/settings-admin']">
  </div>
    
    <div class="row d-flex align-items-center w-100">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <nav class="navMenu">
       <p style="float:none">Registration requests</p>
        </nav>
      </div>
      <div class="col-md-4">
      </div>
    </div> 

    <div>
      <h2 style="margin-left: 44%; margin-top: 25px;">Registration requests</h2>
    </div>
      <div class="panel-middle" >
        <table class="rooms-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Registration type</th>
              <th>Email</th>
              <th>Status</th>
              <th style="width: 20px; height: 50px;"></th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let user of users ">
              <td style="width: 1600px;">{{user.name}}</td>
              <td style="width: 1000px;">{{user.surname}}</td>
              <td style="width: 1000px;">{{user.type}}</td>
              <td style="width: 1000px;">{{user.email}}</td>
              <td style="width: 1000px;">{{user.status}}</td>
              <td><button (click)="setActive(user.id)">Approve</button></td>
              <td><button (click)="setDeclined(user.id)">Decline</button> <label>Reason for refusal: </label><input type="text" id="cancelReason" value="{{user.cancelReason}}" /> </td>
            
              
            </tr>
          </tbody>
        </table>
    </div>
  
   <!--- <table>
      <tr> 
        <th>  Name  </th>
        <th>  Surname  </th>
        <th>  Registration type  </th>
        <th>  Status  </th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.type}}</td>
        <td>{{user.status}}</td>
        <td><button (click)="setActive(user.id)">Approve</button></td>
        <td><button (click)="setDeclined(user.id)">Decline</button> <label>Reason for refusal: </label><input type="text" id="cancelReason" value="{{user.cancelReason}}" /> </td>
      </tr>
    </table>
 --->
  
  
    <div class="row d-flex align-items-center footer">
      <div class="col-md-3">
        <h2 class="link_title">Product</h2>
        <h4 class="link_subtitle">Our plan</h4>
        <h4 class="link_subtitle">Free trial</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">About us</h2>
        <h4 class="link_subtitle">Request demo</h4>
        <h4 class="link_subtitle">FAQs</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">Support</h2>
        <h4 class="link_subtitle">Services</h4>
        <h4 class="link_subtitle">Contact us</h4>
      </div>
      <div class="col-md-3">
        <h2 class="link_title">Covid-19 FAQs</h2>
        <h4 class="link_subtitle">Reviews</h4>
        <h4 class="link_subtitle">Safety</h4>
      </div>
    </div>
