<div class="example-form">
    <!-- <form [formGroup]="form"> -->
      <div class="double-input">
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
      </div>  
      <div class="double-input">
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Number of rooms</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Number of beds</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
      </div>  
      <div class="double-input">
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
      </div> 
      <div class="double-input">
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Rules</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Extra service</mat-label>
            <input matInput placeholder="" value="" >
        </mat-form-field>
      </div>
      <button class="btn">Add house</button>
    <!-- </form> -->
  </div>
